<div
  *ngIf="shouldDisplay"
  id="ng-chat-people"
  [ngClass]="{
    'primary-outline-color': true,
    'primary-background': true,
    'ng-chat-people-collapsed': isCollapsed
  }"
>
  <a
    href="javascript:void(0);"
    class="ng-chat-title secondary-background shadowed"
  >
    <span>
      {{ localization.title }}
    </span>
    <span
      [ngClass]="{
        'ng-chat-participant-status': true,
        online: true
      }"
    ></span>
    <span class="current-status">
      En linea
    </span>
  </a>
  <div
    *ngIf="currentActiveOption"
    class="ng-chat-people-actions"
    (click)="onFriendsListActionCancelClicked()"
  >
    <a href="javascript:void(0);" class="ng-chat-people-action">
      <i class="remove-icon"></i>
    </a>
    <a
      href="javascript:void(0);"
      class="ng-chat-people-action"
      (click)="onFriendsListActionConfirmClicked()"
    >
      <i class="check-icon"></i>
    </a>
  </div>
  <input
    *ngIf="searchEnabled"
    id="ng-chat-search_friend"
    class="friends-search-bar"
    type="search"
    [placeholder]="localization.searchPlaceholder"
    [(ngModel)]="searchInput"
  />
  <ul
    id="ng-chat-users"
    *ngIf="!isCollapsed"
    [ngClass]="{ 'offset-search': searchEnabled }"
  >
    <li *ngFor="let user of filteredParticipants">
      <input
        *ngIf="currentActiveOption && currentActiveOption.validateContext(user)"
        type="checkbox"
        class="ng-chat-users-checkbox"
        (change)="onFriendsListCheckboxChange(user, $event.target.checked)"
        [checked]="isUserSelectedFromFriendsList(user)"
      />
      <div
        [ngClass]="{
          'ng-chat-friends-list-selectable-offset': currentActiveOption,
          'ng-chat-friends-list-container': true
        }"
        (click)="onUserClick(user)"
      >
        <div class="item">
          <img
            *ngIf="!user.avatar"
            alt=""
            class="avatar"
            height="30"
            width="30"
            src="https://toppng.com/uploads/preview/user-account-management-logo-user-icon-11562867145a56rus2zwu.png"
          />

          <img
            *ngIf="user.avatar"
            alt=""
            class="avatar"
            height="30"
            width="30"
            [src]="user.avatar | sanitize"
          />
          <span
            class="notify-badget"
            [ngClass]="{
              'ng-chat-participant-status': true,
              online: user.status == ChatParticipantStatus.Online,
              busy: user.status == ChatParticipantStatus.Busy,
              away: user.status == ChatParticipantStatus.Away,
              offline: user.status == ChatParticipantStatus.Offline
            }"
            title="{{
              chatParticipantStatusDescriptor(user.status, localization)
            }}"
          ></span>
        </div>
        <strong title="{{ user.displayName }}">{{ user.displayName }}</strong>
        <strong class="last-message">{{ lastMessage(user) }}</strong>

        <button
          style="float: right;"
          class="delete-user"
          (click)="deleteParticipant(user.id)"
        >
          <i class="gg-trash-empty"></i>
        </button>
        <span
          *ngIf="unreadMessagesTotalByParticipant(user).length > 0"
          class="ng-chat-participant-status busy"
          style="margin-right: 10px;"
        ></span>
      </div>
    </li>
  </ul>
</div>
