.ng-chat-window {
  right: 260px;
  height: 360px;
  z-index: 999;
  bottom: 0;
  width: 300px;
  position: fixed;
  border-width: 1px;
  border-style: solid;
  border-bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.ng-chat-window .ng-chat-title.secondary-background {
  padding-top: 8px;
  box-shadow: 0 4px 2px -3px #c7c7c7;
}

.ng-chat-window .ng-chat-title.secondary-background .title-user-icon {
  float: left;
  margin-right: 10px;
  position: relative;
}

.ng-chat-window .ng-chat-title .title-user-icon .ng-chat-participant-status {
  position: absolute;
  bottom: 0;
  margin-left: -10px;
  border: 1px solid white;
  width: 12px;
  height: 12px;
}

.ng-chat-window-collapsed {
  height: 30px !important;
}
.ng-chat-window .ng-chat-footer {
  box-sizing: border-box;
  padding: 0;
  display: block;
  height: calc(15%);
  width: 100%;
  border: none;
  border-top: 1px solid transparent;
  border-color: inherit;
}
.ng-chat-window .ng-chat-footer .footer-wrapper > input {
  font-size: 0.8em;
  box-sizing: border-box;
  padding: 0 5px;
  display: block;
  height: 100%;
  margin-left: 20px;
  width: -webkit-fill-available;
  margin-right: 20px;
  margin-top: 2px;
  border: none;
}
.ng-chat-window .ng-chat-footer > input.has-side-action {
  width: calc(100% - 60px);
}
.ng-chat-window .ng-chat-footer .btn-add-file {
  position: absolute;
  left: 8px;
  bottom: 14px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.ng-chat-window .ng-chat-footer .btn-send {
  position: absolute;
  right: 10px;
  bottom: 13px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.ng-chat-window .ng-chat-footer .loader {
  position: absolute;
  right: 14px;
  bottom: 8px;
}
.ng-chat-window .ng-chat-load-history {
  height: 30px;
  text-align: center;
  font-size: 0.8em;
}
.ng-chat-window .ng-chat-load-history > a {
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 10px;
}
.ng-chat-window .ng-chat-messages {
  padding: 10px;
  width: 100%;
  height: calc(90% - 55px);
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}
.ng-chat-window .ng-chat-messages .ng-chat-message {
  clear: both;
}
.ng-chat-window .ng-chat-messages .ng-chat-message > img.avatar,
.ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper {
  position: absolute;
  left: 10px;
  border-radius: 25px;
}
.ng-chat-window .ng-chat-messages .ng-chat-message .ng-chat-participant-name {
  display: inline-block;
  margin-left: 40px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 0.8em;
  text-overflow: ellipsis;
  max-width: 180px;
}
.ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper {
  background-color: #bababa;
  overflow: hidden;
  width: 30px;
  height: 30px;
  padding: 0;
}
.ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper > i {
  color: #fff;
  transform: scale(0.7);
}
.ng-chat-window .ng-chat-messages .ng-chat-message .message-sent-date {
  font-size: 0.8em;
  display: block;
  text-align: right;
  margin-top: 5px;
}
.ng-chat-window .ng-chat-messages .ng-chat-message > div {
  float: right;
  width: 182px;
  padding: 0;
  margin-top: 0;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 0.9em;
  word-wrap: break-word;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message.ng-chat-message-received
  > div.received-chat-message-container {
  float: left;
  border-style: solid;
  border-width: 3px;
  margin-top: 0;
  margin-bottom: 5px;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message.ng-chat-message-received
  .message-sent-date {
  text-align: left;
}
.ng-chat-window .ng-chat-messages .ng-chat-message .file-message-container {
  float: right;
  width: 202px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
  display: block;
  text-decoration: none;
  font-size: 0.9em;
  padding: 0;
  box-sizing: border-box;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container.received {
  float: left;
  margin-left: 40px;
  width: 208px;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-message-icon-container {
  width: 20px;
  height: 35px;
  padding: 10px 5px;
  float: left;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-message-icon-container
  i {
  margin-top: 8px;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-details {
  float: left;
  padding: 10px;
  width: calc(100% - 60px);
  color: currentColor;
  text-decoration: none;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-details:hover {
  text-decoration: underline;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-details
  span {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-details
  .file-message-title {
  font-weight: bold;
}
.ng-chat-window
  .ng-chat-messages
  .ng-chat-message
  .file-message-container
  > .file-details
  .file-message-size {
  font-size: 0.8em;
  margin-top: 5px;
}
.ng-chat-window .image-message {
  width: 100%;
  height: auto;
}

.footer-wrapper {
  padding: 5px;
  background-color: aliceblue;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
}

/* Mobile viewport only */
@media only screen and (max-width: 581px) {
  .ng-chat-window {
    position: initial;
  }
}
